<header class="blog-header py-3 mb-5">
    <div class="row flex-nowrap justify-content-between align-items-center">   
        <div class="col-4 mx-auto">
            <a class="blog-header-logo text-dark" href="#">Hello World</a>
        </div>
                
    </div>
</header>

{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }} mt-4 text-center">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}