{% extends 'base.html.twig' %}


{% block body %}
<div class="container">
    <h1>Modifier l'article : {{article.title}}</h1>
<hr>
    {{ form_start(form) }}

    {{ form_widget(form) }}
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary my-3">Enregistrer les modifications </button>
    </div>

    {{ form_end(form) }}
</div>

{% endblock %}